/*
 * This file is for Advent of Code Day X
 */

import java.util.Scanner;
import java.io.FileNotFoundException;
import java.io.File;

/**
 * This class is my solution for Day X Part X
 */
public class dayXPartX {
    /* Constants (Magic numbers) */
    private static final String INPUT_FILE = "dayXInput.txt";

    /**
     * Description
     * 
     * @param args not used
     * @throws FileNotFoundException if INPUT_FILE doesn't exist
     */
    public static void main(String[] args) throws FileNotFoundException {
        Scanner input = new Scanner(new File(INPUT_FILE));
    }
}
